<apex:page standardController="Case" >
    <apex:includeLightning /> 
    <div id="CsAssetAccountCase"></div>

        <script>
            var recordId = "{!Case.Id}";
            var caseStatus = "{!Case.Status}";
            var caseSent = "{!Case.CS_Send_To_Mule__c}";
            var caseRecordType = "{!Case.RecordType.DeveloperName}";
            var caseCoolerSKU = "{!Case.CS_skuProduct__c}"; //SM
    		var paginaContenedora = "CS_ASSET_MANAGEMENT";
    			$Lightning.use("c:CS_ASSET_MANAGEMENT_APP", function() {
                    var attributes = { RecordId : recordId, caseStatus:caseStatus, caseSent:caseSent, caseRecordType:caseRecordType, caseCoolerSKU:caseCoolerSKU};
                    $Lightning.createComponent("c:CS_ASSET_MANAGEMENT_CMP", attributes, "CsAssetAccountCase", function(cmp) {});
    			});
    			
        </script>
</apex:page>