<apex:page controller="IREP_TokenGenerator_ctr" showHeader="false" sidebar="false" tabStyle="ONTAP__AuthorizationToken__c">

<apex:form >
    <apex:pageBlock >
    	<apex:pageMessages />
        <apex:pageBlockSection title="{!$Label.IREP_TokenGeneratorTitle}" columns="1" collapsible="false"> 
            <apex:outputtext value="{!$Label.IREP_TokenGeneratorMsj} {!sapId}"></apex:outputtext>
            <!-- <apex:inputText value="{!sapId}" id="customerId"/> -->
            <apex:commandButton action="{!generateToken}" value="{!$Label.IREP_TokenGeneratorBtn}" id="generateTokenButton"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Token" columns="1" collapsible="false">
            <apex:outputtext style="font-size: 18px; font-weight:bold" value="{!token}" />
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:form>
</apex:page>