<apex:page controller="OrderTicketPDF_ctr" showHeader="false" sidebar="false" applyHtmlTag="false" renderAs="PDF">

    <head>
        <style type="text/css">
            @page {
                size: A6;
            /*background-color: gray;*/
            }
            
            .container {
                font-family: Monospace;
            	width: 110mm;
            font-size: 10pt;
            /*width: 170mm;*/
            }

            .receipt {
                font-family: Monospace;
                /*width: 400px;*/
            }

            .center {
                text-align: center;
            }

            .right {
                text-align: right;
            }

            .left {
                text-align: left;
            }

            .caps {
                text-transform: uppercase;
            }

            .border_bottom {
                border-bottom: dashed;
            }
            
        </style>
    </head>

    <body>
        <div class="container">
            <!--HEADER-->
            <div class="left">
                <span>{!template.Distribuidora_Nombre__c}</span><br/>
                <span>{!template.Distribuidora_Direccion__c}</span><br/><br/>
                <span>{!template.SAP_Order_Number__c} {!wrapper.SAPOrderNumber}</span><br/>
                <span>{!template.Fecha_Label__c} {!wrapper.CreatedDateFecha}&nbsp;{!template.Hora_Label__c} {!wrapper.CreatedDateHora}</span><br/><br/>
                <span>{!template.Visit_Transport_Label__c} {!wrapper.Visit_Transport}</span><br/>
                <span>{!template.ISSM_CustomerLabel__c} {!wrapper.customerName}</span><br/>
                <span>{!template.Direccion_Label__c} {!wrapper.customerAddress}</span><br/><br/>
            </div>
            
            <!--TABLE -->
            <table width="100%">
                <tr>
                    <td colspan="2"><span>RUC:</span></td>
                    <td colspan="5"><span>{!template.Customer_SAP_Number_Label__c} {!wrapper.customerSAPNumber}</span></td>
                </tr>
                <tr>
                    <td colspan="2"><span>{!template.Vendedor_label__c} {!wrapper.vendedor}</span></td>
                    <td colspan="5"><span>{!template.SectorVenta_label__c} {!wrapper.SectorVenta } </span></td>
                </tr>
                <tr>
                    <td colspan="2"><span>{!template.Forma_de_pago_label__c} {!wrapper.paymentMethod}</span></td>
                    <td colspan="5"><span>Vencimiento:</span></td>
                </tr>
                <tr>
                    <td colspan="7">{!template.ISSM_SectionSeparator__c}</td>
                </tr>
                <tr>
                    <td class="left">Código</td>
                    <td class="left">Descripción</td>
                    <td class="left">{!template.ISSM_ProdCol1__c}</td>
                    <td class="left">UDM</td>
                    <td class="right">{!template.ISSM_ProdCol2__c}</td>
                    <td class="right">{!template.ISSM_ProdCol3__c}</td>
                    <td class="right">{!template.ISSM_ProdCol4__c}</td>
                </tr>
                <tr>
                    <td colspan="7">{!template.ISSM_SectionSeparator__c}</td>
                </tr>
                <apex:repeat value="{!wrapper.orderItems.orderItemList}" var="item">
                    <tr>
                        <td class="caps">{!item.sku}</td>
                        <td class="caps">{!item.name}</td>
                        <td class="left">{!NULLVALUE(item.quantity, 0.00)}</td>
                        <td class="left">{!item.udm}</td>
                        <td class="right">{!ROUND(NULLVALUE(item.price, 0.00), 2)}</td>
                        <td class="right">{!ROUND(NULLVALUE(item.discount, 0.00), 2)}</td>
                        <td class="right">{!ROUND(NULLVALUE(item.total, 0.00), 2)}</td>
                    </tr>
                </apex:repeat>
                <tr>
                    <td colspan="7">{!template.ISSM_SectionSeparator__c}</td>
                </tr>
                
                <tr>
                    <td colspan="3"><span>Total vendido CAJ:&nbsp;{!wrapper.totalSoldBoxes}</span></td>
                    <td colspan="3"><span>Total sin impuestos:</span></td>
                    <td colspan="1" class="right"><span>{!wrapper.totalWOTax}</span></td>
                </tr>
                <tr>
                    <td colspan="3"><span>Total Descuento:&nbsp;{!wrapper.totalDiscount}</span></td>
                    <td colspan="3"><span>Total Impuesto:</span></td>
                    <td colspan="1" class="right"><span>{!wrapper.totalTax}</span></td>
                </tr>
                <tr>
                    <td colspan="3"><span>&nbsp;</span></td>
                    <td colspan="3"><span>Total más impuestos:</span></td>
                    <td colspan="1" class="right"><span>{!wrapper.totalWTax}</span></td>
                </tr>
            </table>
        </div>
    </body>
    
</apex:page>